<configuration>
  <property resource="application.properties" />
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <appender name="db" class="ch.qos.logback.classic.db.DBAppender">
    <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
      <driverClass>org.postgresql.Driver</driverClass>
      <url>${spring.datasource.url}</url>
      <user>${spring.datasource.username}</user>
      <password>${spring.datasource.password}</password>
    </connectionSource>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>WARN</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <logger name="com.sktj.parser" level="INFO"/>
  <logger name="org.springframework" level="INFO"/>
  <root level="INFO">
    <appender-ref ref="db" />
  </root>

</configuration>